.ipynb_checkpoints
intro-to-pytorch/checkpoint.pth
intro-to-pytorch/Cat_Dog_data/
convolutional-neural-networks/cifar-cnn/data/cifar-10-python.tar.gz
convolutional-neural-networks/cifar-cnn/data/cifar-10-batches-py/batches.meta
convolutional-neural-networks/cifar-cnn/data/cifar-10-batches-py/data_batch_1
convolutional-neural-networks/cifar-cnn/data/cifar-10-batches-py/data_batch_2
convolutional-neural-networks/cifar-cnn/data/cifar-10-batches-py/data_batch_3
convolutional-neural-networks/cifar-cnn/data/cifar-10-batches-py/data_batch_4
convolutional-neural-networks/cifar-cnn/data/cifar-10-batches-py/data_batch_5
convolutional-neural-networks/cifar-cnn/data/cifar-10-batches-py/readme.html
convolutional-neural-networks/cifar-cnn/data/cifar-10-batches-py/test_batch
